<input type="hidden" id="{{ form.vars.id }}" name="{{ form.vars.full_name }}"/>

{% set object = form.vars.sonata_admin.admin.subject %}
{% set mapping = object.ontologyMapping %}
<table class="table">
  <thead>
    <tr>
      <th>Attribute d'origine</th>
      <th style="width:20px"></th>
      <th>à transformer en</th>
    </tr>
  </thead>
  <tbody class="table-striped">
    {% for originName, mappedName in mapping %}
      <tr>
        <td class="original">{{originName}}</td>
        <td><i class="arrow-icon fa fa-arrow-circle-right"></i></td>
        <td class="mapped"><input type="text" name="ontology[{{originName}}]" class="form-control property-selector" value={{mappedName}} /></td>
      </tr>
    {% endfor %}
  </tbody>

</table>