{# Admin section #}
<div id="section_admin">
	<h2 id="admin-title">{{ "admin.title"|trans }}</h2>
	
	{% set emailFieldPresent = false %}
	{% for field in config.getElementFormFields %}
		{% if field.type == 'email' %}{% set emailFieldPresent = true %}{% endif %}
	{% endfor %}

	{% if emailFieldPresent %}
		<div class="checkbox-container col s12">
			<input type="checkbox" name="send_mail" id="send_mail" checked/>
			<label for="send_mail">
			{{ "admin.send_mail.add"|trans({feature: config.elementDisplayNameIndefinite}) }}
			{{ "admin.send_mail.modify"|trans({feature: config.elementDisplayNameIndefinite}) }}
			{{ editMode ? 'des modifications' : "de l'ajout" }}
			</label> 	
		</div>
	{% endif %}

	{# if element is PendingModification #}
	{% if editMode and element.isPending() %}
	<div class="checkbox-container col s12">
		<input type="checkbox" name="dont-validate" id="dont-validate"/>
		<label for="dont-validate">Ne pas valider {{ config.elementDisplayNameDefinite }}, je modifie simplement la mise en forme</label> 	
	</div>
	{% endif %}

	{% if not editMode %}
	<div class="checkbox-container col s12">
		<input type="checkbox" name="recopyInfo" id="recopy-info"/>
		<label for="recopy-info">{{ "admin.recopy_info"|trans }}</label> 	
	</div>
	{% endif %}

	{% if editMode %}
		<div class="col s12">
			<input type="text" name="admin-message" id="admin-message" placeholder="{{ 'admin.admin_message'|trans }}"/>
		</div>
	{% endif %}

</div>