{% extends 'admin/pages/page_layout.html.twig' %}

{% block breadcrumb %}
  <li><a href={{ path('gogo_bulk_actions_index') }}>Bulk actions</a></li>
  <li class="active">{{ title }}</li>
{% endblock breadcrumb %}

{% block page_title %}{{ title }}{% endblock %}

{% block page_content %}

  <div style="margin-bottom: 1rem; text-align: center">
    <h2 style="margin-top: 0;margin-bottom: 20px;">Analyse des éléments de {{ firstId }} à {{ lastId }}</h2>
    
    {% if isStillElementsToProceed %}
      <a class="btn btn-success" href='{{ redirectionRoute }}'>Continuer à traiter les éléments suivants (encore {{ elementsToProcceedCount }} à traiter)</a>
    {% else %}
      <div class="alert alert-success">Tous les éléments ont été traités avec succès</div>
    {% endif %}
  </div>

{% endblock %}

{% block page_content_after %}
  <h3 style="margin-bottom: 20px">Résultats</h3>
  {% set isDuplicateAction = (title == "Détection des doublons") %}
  {% if isDuplicateAction %}
    <a class="btn btn-primary" href={{ path('gogo_duplicates_index') }}>Gérer les doublons détectés</a>
    <a class="btn btn-default" href={{ path('gogo_core_bundle_config_duplicates_admin_classname_list') }}>Retour à la gestion des doublons</a>
  {% endif %}
  
  {% for partialView in renderedViews %}
    {{ partialView.content | raw }}
  {% endfor %}

  {% if isDuplicateAction and renderedViews|length %}
    <a class="btn btn-primary" href={{ path('gogo_duplicates_index') }}>Gérer les doublons détectés</a>
    <a class="btn btn-default" href={{ path('gogo_core_bundle_config_duplicates_admin_classname_list') }}>Retour à la gestion des doublons</a>
  {% endif %}

  <style>
    .bulk-duplicate h4 { margin-bottom:15px; }
    .bulk-duplicate li { margin-bottom: 20px; }
    .bulk-duplicate .duplicate-name { margin-right: 10px; }
    .bulk-duplicate .element-description { margin-left: 28px; margin-top: 5px; }
  </style>

{% endblock %}






