<div class="bs-callout {{ automaticMerge ? 'bs-callout-success' : 'bs-callout-warning' }} bulk-duplicate">

    <h4>{{ automaticMerge ? "Fusion automatique" : "Doublons potentiels détectés" }}</h4>

    {% for duplicate in duplicates %}
        <li>
            <a class="duplicate-name" href="{{ path('admin_app_element_showEdit', { 'id': duplicate.id }) }}" target="_blank"><b>
              {{ duplicate.name }}
              {% if duplicate.sourceKey %}<i> ({{ duplicate.sourceKey }})</i>{% endif %}
            </b></a>

            {% if automaticMerge %}
              {% if loop.first %}
                <span class="label label-success">Doublon Conservé</span>
              {% else %}
                <span class="label label-default">Doublon Supprimé</span>
              {% endif %}
            {% endif %}

            {% for prop in config.duplicates.fieldsInvolvedInDetection %}
              {% if prop != 'name' %}
                {% set value = duplicate.getProperty(prop) %}
                {% if value %}
                  <span class="field-name">{{ prop }}</span>
                  <span class="field-value"> : {{ value }}</span>
                {% endif %}
              {% endif %}
            {% endfor %}
        </li>
    {% endfor %}
  </ul>

</div>

<style>
  .field-name {
    text-decoration: underline;
    margin-left: 10px;
    margin-right: 0;
  }
</style>





